<section class="flex flex-wrap justify-left">
    <a href="/club/new"><button class="bg-darkColor text-textLight rounded p-2 m-2 hover:bg-sky-900 hover:text-orange-600">Create a New Club</button></a>
</section>


{{#if hasMessages}}
<section class="flex flex-column justify-center">
{{each messages as |message|}}
    <div class="mx-auto flex items-start justify-between max-w-sm p-3 space-x-4 rounded-md bg-secondaryColor text-textDark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-shrink-0 w-6 h-6 my-1">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
        </svg>
        <div class="flex flex-col flex-1 px-2 space-y-1">
            <span class="text-sm font-semibold">Club Invitation</span>
            <span class="text-sm">You've been invited to join clubname by username! <a href="#" class="hover:text-orange-600" id="acceptInvitation">Accept?</a></span>
            
        </div>
        <button type="button" title="Close snackbar" class="border-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="flex-shrink-0 w-4 h-4 my-1">
                <polygon points="427.314 107.313 404.686 84.687 256 233.373 107.314 84.687 84.686 107.313 233.373 256 84.686 404.687 107.314 427.313 256 278.627 404.686 427.313 427.314 404.687 278.627 256 427.314 107.313"></polygon>
            </svg>
        </button>
    </div>
{{/each}}
</section>
{{/if}}

{{!-- second section is for the favorite books carousel --}}
<h2 class="mx-auto my-6 font-bold text-xl text-textDark text-center">Favorite Books:</h2>
<section class="flex flex-wrap justify-evenly">
    {{!-- this section is for the favorite books carousel --}}
    {{#each favorites.books as |favorite|}}
    <div class="flex flex-col w-96 p-6 space-y-6 overflow-hidden rounded-lg shadow-md bg-primaryColor my-6">
        <div>
            <img src="/assets/{{favorite.cover_img}}" alt="" class="object-cover w-full mb-4 h-60 sm:h-96">
            <h2 class="mb-1 text-xl text-textLight font-semibold">{{ favorite.title }}</h2>
            <p class="text-sm text-textLight">{{ favorite.description }}</p>
        </div>
    </div>
    {{/each}}

    {{!-- this section for handling carousel content?--}}
    {{!-- <div class="items-center space-y-2 text-xs sm:space-y-0 sm:space-x-3 sm:flex">
        <span class="block">Page 2 of 4</span>
        <div class="space-x-1">
            <button title="previous" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow">
                <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </button>
            <button title="next" type="button" class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow">
                <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </button>
        </div>
    </div> --}}
</section>

<section class="flex flex-column justify-evenly">
<h2 class="mx-auto my-6 font-bold text-xl text-textDark text-center">Your Reviews:</h2>
    {{#each reviews as |review|}}
    <div class="max-w-lg p-4 mx-auto mb-6 shadow-md rounded bg-primaryColor text-textLight">
        <div class="space-y-4">
            <div class="space-y-2">
                <a rel="noopener noreferrer" href="/dashboard/edit/{{review.id}}" class="block">
                    <h3 class="text-xl font-semibold text-textLight">{{review.title}}</h3>
                </a>
                <div class="markdown leading-snug text-textLight">{{{parse_markdown review.body}}}</div>
            </div>
        </div>
    </div>
    {{/each}}
</section>